{% extends 'app_emp_reg/base.html' %}
{% block content %}
  {% if dept_records %}
    <table id="dtHorizontalVerticalExample" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
      <thead>
      <tr>
        <th class="th-sm">Id</th>
        <th class="th-sm">Name</th>
        <th class="th-sm">Location</th>
      </tr>
      </thead>
      <tbody>
        {% for dept in dept_records %}
          <tr>
            <td>{{dept.id}}</td>
            <td>{{dept.name}}</td>
            <td>{{dept.location}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <h3>No Department Informations</h3>
  {% endif %}
{% endblock %}