{% extends 'app_emp_reg/base.html' %}
{% block content %}
     <div class="modal fade" id="basicExampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="employee_id">Test</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
           <form method="post">
              {% csrf_token %}
              <p>Are you sure you want to delete {{object}}?</p>
              <button type="button" class="btn" data-dismiss="modal">Cancel</button>
              <input type="submit" class="btn btn-danger" value="Confirm">
          </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}